HELP.md
api-todo-list/target/
api-todo-list/!.mvn/wrapper/maven-wrapper.jar
api-todo-list/!**/src/main/**/target/
api-todo-list/!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

